template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.teal: .nav-wrapper
		ul.left
			li: a Home
		a.brand-logo.center= navTitle
		ul.right
			if currentUser
				li: a= startCase(currentUser.username)
				li: a(href='/panduan') Panduan
				li: a#logout Logout
			else			
				li: a(href='/login') Login
	if currentUser
		ul.fixed.side-nav.z-depth-2
			li.grey.lighten-2: a.center: b= today
			each menus
				li: a.waves-effect.waves-teal(href='/{{name}}')
					span: b= full
					i.material-icons.right#sideIcon(class='{{color}}-text')= icon

template(name='home'): .container
	h4 Beranda

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='pasien'): .container
	h5 Daftar Nama Pasien
	.row: .col.m4: .divider
	.row
		.col.m6
			unless currentPar 'no_mr'
				unless showForm
					.input-field: input#search(value= search placeholder= 'Cari Nama Pasien / No.MR')
		.col.m6
			with selPol
				form#selPol
					each selPol
						input(name='poli' type='radio' id= value)
						label(for= value)= label
			if showButton
				.right.btn#showForm= showButtonText
			if preview
				a.btn.modal-trigger(href='#preview') View

	if showForm
		+quickForm(
			collection= coll.pasien
			schema= schema
			type= formType
			id = 'formPasien'
			scope = 'rawat'
			doc= pasiens
			buttonContent = 'simpan'
			omitFields= omitFields
		)
	unless currentPar 'no_mr'
		unless currentRoute 'bayar'
			table.bordered
				thead: tr
					each val in heads.pasien
						th= startCase(val)
				tbody
					each pasiens
						tr#row
							td= zeros(no_mr)
							td= startCase(regis.nama_lengkap)
							td
								span= regis.ayah
								span= regis.ibu
							td= regis.alamat
							td {{look 'kelamin' regis.kelamin 'label'}}
							td= hari(regis.tgl_lahir)
			if pasiens
				+pagination(name= 'pasien')
		if userRole 'admin'
			if currentRoute 'regis'
				+import
				+report(jenis='pendaftaran')
			else if currentRoute 'jalan'
				+report(jenis='rawat_jalan')
		if currentRoute 'bayar'
			h5 Daftar Bayar
			table.bordered
				thead: tr
					each val in heads.bayar
						th= startCase(val)
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							unless item.billRegis
								tr
									td= zeros(pasien.no_mr)
									td= pasien.regis.nama_lengkap
									td= hari(item.tanggal)
									td= rupiah(item.karcis)
									td {{look 'cara_bayar' item.cara_bayar 'label'}}
									td {{look 'klinik' item.klinik 'label'}}
									td
										a#bill(
											pasien= pasien.no_mr
											idbayar= item.idbayar
											karcis= item.karcis
										) Bayar
							if isTrue item.cara_bayar 1
								unless item.status_bayar
									if item.total.semua
										tr
											td= zeros(pasien.no_mr)
											td= pasien.regis.nama_lengkap
											td= hari(item.tanggal)
											td= rupiah(item.total.semua)
											td {{look 'cara_bayar' item.cara_bayar 'label'}}
											td {{look 'klinik' item.klinik 'label'}}
											td
												a#bayar(
													pasien= pasien.no_mr
													idbayar= item.idbayar
												) Bayar
			br
			if userRole 'admin'
				+report(jenis='pembayaran')
		if currentRoute 'labor'
			h5 Daftar Request Labor
			table.bordered
				thead: tr
					each val in heads.labor
						th= startCase(val)
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.labor
									each labor in item.labor
										unless labor.hasil
											tr
												td= zeros(pasien.no_mr)
												td= pasien.regis.nama_lengkap
												td {{look2 'tarif' labor.nama 'grup'}}
												td {{look2 'tarif' labor.nama 'nama'}}
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis= 'labor'
														idjenis= labor.idlabor
													) Isi
		if currentRoute 'radio'
			h5 Daftar Request Radiologi
			table.bordered
				thead: tr
					each val in heads.radio
						th= startCase(val)
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.radio
									each radio in item.radio
										unless radio.hasil
											tr
												td= zeros(pasien.no_mr)
												td= pasien.regis.nama_lengkap
												td {{look2 'tarif' radio.nama 'nama'}}
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis = 'radio'
														idjenis= radio.idradio
													) Aksi
		if currentRoute 'obat'
			h5 Daftar Request Obat
			table.bordered
				thead: tr
					each val in heads.obat
						th= startCase(val)
				tbody
					each pasien in pasiens
						each item in pasien.rawat
							if item.status_bayar
								if item.obat
									each obat in item.obat
										unless obat.hasil
											tr
												td= hari(item.tanggal)
												td= zeros(pasien.no_mr)
												td= pasien.regis.nama_lengkap
												td
													each tindakan in item.tindakan
														span= tindakan.dokter
												td {{look 'klinik' item.klinik 'label'}}
												td {{look2 'gudang' obat.nama 'nama'}}
												td
													span= obat.aturan.kali
													span= obat.aturan.dosis
													span {{look 'bentuk' obat.aturan.bentuk 'label'}}
												td= obat.jumlah
												td
													a#request(
														pasien= pasien.no_mr
														idbayar= item.idbayar
														jenis = 'obat'
														idjenis= obat.idobat
													) Serah
			br
			br
			.purple.btn#rekap Rekap

	if currentPar 'no_mr'
		with pasiens
			if currentRoute 'regis'
				.row
					.left.purple.btn#card Cetak
					.left.purple.btn#consent Consent
			.row
				.col.m6
					table
						tr
							th No MR
							td= zeros(no_mr)
						tr
							th Nama Lengkap
							td= regis.nama_lengkap
						tr
							th Tempat Tinggal
							td= regis.alamat
				.col.m6
					table
						tr
							th Tanggal Lahir
							td= hari(regis.tgl_lahir)
						tr
							th Tempat Lahir
							td= regis.tmpt_lahir
						tr
							th Umur
							td= umur(regis.tgl_lahir)
			if userRole 'admin'
				.red.btn#rmPasien Hapus
			.right.orange.btn#close Tutup
			if rawat
				table.bordered
					thead: tr
						each val in heads.rawat
							th= startCase(val)
						if userRole 'admin'
							th Hapus
					tbody
						each sortBy rawat 'tanggal' 'asc'
							tr
								td= hari(tanggal)
								td {{look 'klinik' klinik 'label'}}
								td {{look 'cara_bayar' cara_bayar 'label'}}
								if billRegis
									td Sudah
								else
									td Belum
								if status_bayar
									td Sudah
								else
									td Belum
								td: a.modal-trigger(href='#preview') cek
								if userRole 'admin'
									td: a#rmRawat hapus
	with preview
		.modal#preview
			.modal-content
				table
					tr
						th Tanggal
						td= hari(tanggal)
						th Cara Bayar
						td {{look 'cara_bayar' cara_bayar 'label'}}
						th Klinik
						td {{look 'klinik' klinik 'label'}}
					br
					br
				if anamesa_perawat
					h5 Anamesa Perawat
					p= anamesa_perawat
				if anamesa_dokter
					h5 Anamesa Dokter
					p= anamesa_dokter
				if diagnosa
					h5 Diagnosa Pasien
					p= diagnosa
				br
				if fisik
					h5 Daftar Cek Fisik
					table
						thead: tr
							each val in heads.fisik
								th= startCase(val)
						tbody
							each fisik
								tr
									td= tekanan_darah
									td= nadi
									td= suhu
									td= pernapasan
									td= berat
									td= tinggi
									td= lila
				br
				br
				if tindakan
					h5 Daftar Tindakan
					table
						thead: tr
							each val in heads.previewDokter
								th= startCase(val)
						tbody
							each tindakan
								tr
									td {{look2 'tarif' nama 'nama'}}
									td {{look2 'dokter' dokter 'nama'}}
									td= rupiah(harga)
					br
					br
				if labor
					h5 Daftar Laboratorium
					table
						thead: tr
							each val in heads.previewLabor
								th= startCase(val)
						tbody
							each labor
								tr
									td {{look2 'tarif' nama 'grup'}}
									td {{look2 'tarif' nama 'nama'}}
									td= hasil
					br
					br
				if obat
					h5 Daftar Obat
					table
						thead: tr
							each val in heads.previewObat
								th= startCase(val)
						tbody
							each obat
								tr
									td {{look2 'gudang' nama 'nama'}}
									td= aturan.dosis
									td {{look 'bentuk' aturan.bentuk 'label'}}
									td= aturan.kali
									td= jumlah
					br
					br
				if radio
					h5 Daftar Radiologi
					table
						thead: tr
							each val in heads.previewRadio
								th= startCase(val)
						tbody
							each radio
								tr
									td {{look2 'tarif' nama 'nama'}}
									td= hasil
					br
					br
				with total
					table
						tr
							if tindakan
								th Total Tindakan
								td= rupiah(tindakan)
							if labor
								th Total Labor
								td= rupiah(labor)
						tr
							if radio
								th Total Radio
								td= rupiah(radio)
							if obat
								th Total Obat
								td= rupiah(obat)
						tr
							if semua
								th Total Semua
								td: b= rupiah(semua)

template(name='import')
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='upload')
		.file-path-wrapper
			input.file-path.wrapper(type='text')

template(name='gudang'): .container
	h5 Daftar Barang Gudang
	.row
		.col.m8
			unless showForm
				unless currentPar 'idbarang'
					.input-field: input#search(value= search placeholder='Nama Obat / Batch')
		.col.m4
			if userGroup 'farmasi'
				.right.btn#showForm Tambah
	if showForm
		+quickForm(
			collection= coll.gudang
			schema= schema
			type= formType
			id = 'formGudang'
			scope = 'batch'
			doc= gudangs
		)
	unless currentPar 'idbarang'
		table.bordered
			thead: tr
				each val in heads.barang
					th= startCase(val)
				if userRole 'admin'
					th Hapus
			tbody
				each gudangs
					tr#row
						td {{look 'barang' jenis 'label'}}
						td= nama
						td= akumulasi.digudang
						td= akumulasi.diapotik
						if userRole 'admin'
							td: a#rmBarang hapus
		br
		br
		.row
			.col.m3: .btn#nearEds kadaluarsa
			.col.m7
				input#returnable(type='checkbox')
				label(for='returnable') Returnable
			.col.m2: .btn#latestAmprah Amprahan
		if nearEds
			h5 Menjelang Kadaluarsa
			table
				thead: tr
					th Nama Obat
					each val in heads.batch
						th= startCase(val)
				tbody
					each nearEds
						tr#nearEd
							td= nama
							td= nobatch
							td= hari(masuk)
							td= hari(kadaluarsa)
							td= beli
							td= jual
							td= digudang
							td= diapotik
							td= suplier
		if latestAmprah
			h5 Daftar Amprah
			table
				thead: tr
					each val in heads.latestAmprah
						th= startCase(val)
				tbody
					each val in latestAmprah
						each val.amprah
							tr
								td: a(href="/farmasi/{{val.idbarang}}")= val.nama
								td= startCase(ruangan)
								td= userName(peminta)
								td= diminta
								td= hari(tanggal)
	if currentPar 'idbarang'
		h5 Rincian Barang
		with gudangs
			table
				tr
					th Nama
					td= nama
				tr
					th Kandungan
					td= kandungan
				tr
					th Satuan
					td= satuan
			br
			h5 Batch
			table
				thead: tr
					each val in heads.batch
						th= startCase(val)
					th Returnable
					if userRole 'admin'
						th Hapus
				tbody
					each batch
						tr#transfer
							td= nobatch
							td= hari(masuk)
							td(class="{{warning kadaluarsa}}-text")= hari(kadaluarsa)
							td= beli
							td= jual
							td= digudang
							td= diapotik
							td= suplier
							td= returnable
							td: a#rmBatch(href='#') hapus
		h5 Amprah
		.right.btn#addAmprah +Amprah
		if addAmprah
			+quickForm(
				collection = coll.gudang
				schema = schemaAmprah
				type = 'update-pushArray'
				id = 'formAmprah'
				doc = gudangs
				scope = 'amprah'
			)
		table
			thead: tr
				each val in heads.amprah
					th= startCase(val)
			tbody
				with gudangs
					each amprah
						tr#amprah
							td= startCase(ruangan)
							td= userName(peminta)
							td= diminta
							td= userName(penyerah)
							td= diserah
							td= hari(tanggal)
	br
	if userRole 'admin'
		unless currentPar 'idbarang'
			unless showForm
				+import
				+export

template(name='manajemen'): .container
	h5
		unless onUser
			span Tambahkan Karyawan
		else
			span Berikan Peranan
	form#userForm
		input(name='username' placeholder='Username' value= onUser.username)
		unless onUser
			input(name='password' placeholder='Password' type='password')
			input(name='repeat' placeholder='Ulangi Password' type='password')
		if onUser
			.row
				p Peranan
				each val in selRoles
					input(type='radio' name='role' id=val)
					label(for=val)= startCase(val)
			.row
				p Grup
				each modules
					input(type='radio' name='group' id=name)
					label(for=name)= full
			.row
				p Poli
				each klinik
					input(type='radio' name='poli' id=label)
					label(for=label)= label
		input.btn(type='submit')
	.right.orange.btn#close Close
	h5 Daftar Karyawan
	table
		thead
			tr
				th Username
				th Peran
				th Aksi
		tbody
			each users
				tr#row
					td= username
					td= stringify(roles)
					td: a#reset Reset

	h5 Tambahkan Dokter
	+quickForm(
		collection= coll.dokter
		schema= schemadokter
		type= 'insert'
		id= 'formDokter'
	)
	h5 Daftar Dokter
	table
		thead
			tr
				th Nama
				th Tipe
				th Poli
		tbody
			each dokters
				tr#baris.dokter
					td= nama
					td {{look 'tipe_dokter' tipe 'label'}}
					td {{look 'klinik' poli 'label'}}
	+pagination(name= 'dokter')

	h5 Tambahkan Tarif
	+quickForm(
		collection= coll.tarif
		schema= schematarif
		type= 'insert'
		id= 'formTarif'
	)
	h5 Daftar Tarif
	table
		thead
			tr
				th Jenis
				th Nama
				th Harga
				th Grup
		tbody
			each tarifs
				tr#baris.tarif
					td= startCase(jenis)
					td= startCase(nama)
					td= rupiah(harga)
					td= grup
	+pagination(name= 'tarif')
	+import
	+export

template(name='login')
	.fullscreen.slider: ul.slides: li
		img(src='login_bg.jpg')
		.caption.center-align
			br
			br
			br
			.row
				.col.m4
				.col.m4
					h5 Login SIMRS
					form
						input.white-text(name='username' placeholder='Username')
						input.white-text(name='password' placeholder='Password' type='password')
						input.btn(type='submit' value='Masuk')

template(name='pagination')
	ul.pagination.center
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins name
			li: a#num(href='#')= val
		li: a(href='#'): i.material-icons#next chevron_right

template(name='report')
	h5 Laporan {{startCase jenis}}
	.row
		.col.m6: input.datepicker#start(type='text' date='start' placeholder='Mulai')
		.col.m6: input.datepicker#end(type='text' date='end' placeholder='Akhir')
		table.bordered
			with datas jenis
				thead
					each val in headers
						th= val
				tbody
					each val in rows
						tr
							each item in val
								td= item
	with datas
		.purple.btn#export Ekspor

template(name='export'): .row
	.col.m2: .purple.btn#export Ekspor
	.col.m10: .input-field: select#export
		option(value='') Pilih jenis ekspor
		option(value='farmasi') Farmasi
		option(value='logistik') Logistik
