template(name='panduan'): .container
	h5 Panduan Penggunaan
	if userGroup 'regis'
		p Petugas dan Admin Pendaftaran dapat mengakses daftar pasien, menambahkan pasien baru, dan menambahkan rawat jalan untuk masing-masing pasien tersebut
		p Pada menu Pendaftaran user akan disuguhkan 5 nama pasien yang terakhir mendaftar ke dalam database. Petugas dapat menggunakan menu pencarian untuk mencari data pasien sesuai dengan kata yang diketikkan
		p Field pencarian dapat menerima nama ataupun nomor MR. Jika pencarian dilakukan dengan menggunakan No MR maka harus menggunakan 6 angka
		p Setiap pasien yang datang harap untuk ditanyakan apakah sudah pernah berobat di RSUD ini. Upayakan cari nama pasien tersebut pada field pencarian untuk menghindari duplikasi data yang sama di dalam database. Jika pasien tersebut memang belum terdapat datanya, lakukan Input Pasien Baru, jika ada maka skip ke Input Rawat Jalan
		p Tutorial Input Pasien Baru
		ol
			li Klik menu Pendaftaran
			li Klik tombol +Pasien
			li Isikan data pasien yang tersedia. Beberapa field bersifat wajib untuk diisi
			li Klik tombol Simpan jika Anda sudah yakin bahwa data pasien tersebut adalah benar
			li Jika data pasien sudah berhasil masuk ke dalam sistem, user bisa cetak kartu MR dan General Consent
		p Tutorial Input Rawat Jalan
		ol
			li Klik menu Rawat Jalan
			li Lakukan pencarian atas nama pasien atau dengan menggunakan No MR
			li Pastikan untuk mengkonfirmasi data pasien dengan menanyakan tanggal lahir
			li Jika nama data pasien yang cocok ditemukan, klik dua kali pada baris nama pasien bersangkutan
			li Klik tombol +Rawat
			li Pilih jenis Cara Bayar
			li Pilih poli yang dituju pasien
			li Klik tombol Simpan
			li Arahkan pasien untuk membayar ke Kasir (Rp 10.000,- untuk kartu dan/atau Rp 30.000,- untuk pendaftaran)
	else if userGroup 'bayar'
		p Petugas Pembayaran/Kasir dapat melihat daftar tagihan terbaru yang dikenakan kepada pasien. Baris data yang muncul pada Daftar Bayar dapat berasal dari tagihan kartu, biaya pendaftaran, ataupun biaya jasa lainnya seperti tindakan, laboratorium, dan radiologi
		p Kepada petugas sistem akan secara otomatis menghitungkan berapa uang yang harus dibayarkan pasien kepada kasir
		p Tutorial Terima Bayar
		ol
			li Kepada pasien yang datang tanyakan nama pasien tersebut dan temukan pada daftar bayar tagihan yang bersangkutan
			li Konfirmasi tagihan dengan menyebutkan nama, tujuan pembayaran, dan nilai tagihannya
			li Jika pasien setuju untuk membayar dan uang sudah diterima oleh kasir, klik 'Bayar' pada baris data yang bersangkutan
			li Sistem akan secara otomatis mengeluarkan file .pdf tanda terima pembayaran tersebut
			li Petugas printkan bukti bayar tersebut dan beritahukan kepada pasien bahwa pembayaran berhasil
			li Bila pada tagihan tersebut sudah termasuk dengan biaya labor dan radio, maka persilahkan pasien untuk langsung ke unit bersangkutan
		p Tarif 15.000 hingga 40.000 rupiah ditetapkan oleh petugas pendaftaran sesuai dengan peraturan yang berlaku
	else if userGroup 'jalan'
		p Petugas dan Admin Rawat Jalan dapat mengakses daftar pasien yang sudah mendaftar berobat dan melakukan pembayaran.
		p Bila pasien yang datang ke poli mengakui bahwa namanya sudah didaftarkan, dan nama pasien tersebut tidak muncul. Kemungkinan pasien tersebut belum melakukan pembayaran pendaftaran
		p Petugas poli yang login hanya akan ditampilkan daftar pasien yang mendaftar ke poli bersangkutan. Tidak memungkinkan bagi petugas untuk mengakses rawat jalan pada poli lain
		p Baris nama pada Daftar Rawat Jalan yang ada di layar petugas sudah mewakili nomor antrian dari pasien tersebut. Baris nama teratas adalah pasien yang harus terlebih dahulu dilayani.
		p Pasien yang sudah selesai urusan rawat jalannya akan dihilangkan dari daftar antrian. Dan akan menggeser nama berikutnya ke barisan teratas.
		p Tutorial Input Data Rawat
		ol
			li Klik dua kali pada nama pasien yang berada pada baris paling atas
			li Sistem akan secara otomtasi mengisikan pilihan poli dan pilihan cara bayar
			li Petugas mengisikan Anamesa dari pasien yang bersangkutan
			li Di bawah field anamesa petugas akan mendapati grup form Tindakan, Labor, Radio, dan Obat
			li Form dapat menampung 1 atau lebih tindakan/labor/radio/obat jika diperlukan dengan klik 'Add' atau 'Remove'
			li Setiap kali petugas melakukan perubahan pada isi form, sistem akan secara otomatis menghitungkan item biaya berikut totalnya. Dan petugas dapat klik tombol 'View' yang berada di atas layar untuk meninjau data yang diinputkan sebelum dikonfirmasi untuk disimpan ke dalam database
			li Jika petugas sudah selesai meninjau data, dan sudah yakin bahwa data yang diinput adalah benar, klik 'Simpan'
		p Apabila masih juga terjadi kesalahan setelah menyimpan data ke database, petugas harus meminta Admin Rawat Jalan atau Admin Pendaftaran untuk melakukan penghapusan data yang salah tersebut.
		p Tentang Sub-Form Tindakan
		ol
			li Field Diagnosa adalah field yang diisi sesuai dengan keterangan dokter tentang tindakan yang dilakukan terhadap pasien tersebut
			li Field Nama adalah pilihan nama tindakan yang dilakukan oleh dokter
			li Field Dokter adalah pilihan dari nama dokter yang tersedia untuk Poli bersangkutan
		p Tentang Sub-Form Labor
		ol
			li Field Nama adalah pilihan dari jenis Order Labor yang disyaratkan oleh dokter kepada pasien untuk dicek
		p Tentang Sub-Form Radio
		ol
			li Field Nama adalah pilihan dari jenis Radiologi yang disyaratkan oleh dokter kepada pasien untuk dicek
		p Tentang Sub-Form Obat
		ol
			li Field Nama adalah pilihan nama obat yang harus dikonsumsi oleh pasien
			li Field Aturan Kali adalah angka berapa kali obat tersebut harus dikonsumsi pasien dalam satu hari
			li Field Aturan Dosis adalah angka ukuran dosis yang harus dikonsumsi konsumen untuk setiap kali mengkonsumsi obat tersebut
			li Field Aturan Bentuk adalah pilihan bentuk dari obat yang akan dikonsumsi oleh pasien tersebut
			li Field Jumlah adalah jumlah satuan dari obat yang akan diserahkan kepada konsumen untuk dikonsumsi
	else if userGroup 'farmasi'
		p Petugas dan Admin Farmasi dapat mengakses daftar obat yang tersedia pada gudang farmasi
		p Pengguna dapat menginputkan data nama obat baru, mengubah nama obat, dan menambahkan stok pada nama obat yang sudah tersedia
		p Tutorial input nama obat baru yang belum tersedia pada sistem :
		ol
			li Pengguna klik pada tombol Tambah di kanan atas
			li Pada field Jenis pilih jenis obat, dan pada field Nama isikan nama obat tersebut
			li Pada grup Batch, isikan informasi yang diminta sistem
			li: ol
				li No_Batch adalah nomor batch yang tertera pada obat / kotak obat
				li Merek adalah merek dari obat tersebut
				li Satuan adalah pecahan terkecil dari obat tersebut
				li Masuk adalah tanggal masuknya obat tersebut ke gudang farmasi ini
				li Kadaluarsa adalah tanggal berakhirnya batas masa layak pakai obat tersebut
				li Digudang adalah jumlah stok atas batch tersebut yang masuk ke gudang farmasi
				li Diapotik diisikan apabila sebelum batch ini diinput sudah diserahkan ke apotik sebagian
				li Beli adalah harga beli rumah sakit dari supplier
				li Jual adalah harga jual rumah sakit kepada pasien (Rp 0 untuk peraturan lama)
				li Suplier adalah nama perusahaan yang menyuplai obat ini kepada rumah sakit
				li Anggaran adalah pilihan jenis anggaran yang digunakan untuk membeli batch ini
				li Pengadaan adalah tahun dari anggaran pengadaan obat tersebut
			li Bila pada saat penginputan data obat baru ini terdapat lebih dari 2 atau lebih batch yang berbeda, maka petugas dapat klik tombol Add di sebelah kata Batch diatas
			li Bila salah satu batch yang sedang diinputkan ingin dibatalkan, maka klik tombol Remove pada bagian bawah rincian Batch
			li Bila ingin membatalkan keseluruhan data input, maka dapat klik tombol Close atau refresh browser
			li Setelah petugas yakin bahwa data yang diinput adalah benar, maka silahkan klik Submit, dan form akan tetap terbuka untuk diinputkan obat baru lainnya
		p Jika input data sudah berhasil diterima sistem, petugas dapat melihatnya pada daftar obat dan dari pencarian
		p Namun bila terjadi kesalahan setelah data tersebut diterima oleh sistem dan ingin dihapus, maka silahkan request kepada Admin untuk melakukannya
		p Tutorial input obat yang namanya sudah tersedia pada sistem :
		ol
			li Petugas isikan pada kolom pencarian nama atau nobatch dari obat yang diinginkan
			li Jika petugas menemukan obat yang diinginkan, klik dua kali pada nama obat yang tampil
			li Petugas klik tombol Tambah yang berada pada sisi kanan atas
			li Petugas isikan data batch sebagaimana panduan sebelumnya
			li Setelah dicek data adalah benar, klik Submit
			li Form akan tetap terbuka jika petugas ingin menginputkan batch lainnya untuk nama obat tersebut
		p Tutorial transfer obat antar gudang dan apotik
		ol
			li Petugas cari obat dengan menggunakan kolom pencarian
			li Petugas double klik pada nama obat yang diinginkan
			li Petugas double klik pada baris batch yang ingin ditransfer
			li Petugas inputkan angka yang ingin ditransfer dari gudang ke apotik
			li Jika ingin transfer balik dari apotik ke gudang, gunakan simbol minus sebelum angka. Contoh -10
		p Tutorial hapus nama obat :
		ol
			li Login sebagai Admin Farmasi
			li Lakukan pencarian nama obat
			li Pada baris nama obat yang ingin dihapus, klik tombol hapus
